@media (min-width:800px) {
  .grid4Col {
    display: grid !important;
    grid-template-columns: calc(25% - 22px) calc(25% - 23px) calc(25% - 22px) calc(25% - 23px);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
  }
  .grid3Col {
    display: grid !important;
    grid-template-columns: calc(33% - 20px) calc(33% - 20px) calc(33% - 20px);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
  }
  .grid2Col {
    display: grid !important;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
  }
  .grid-66-33 {
    display: grid !important;
    grid-template-columns: calc(66% - 15px) calc(33% - 15px);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
  }
  .grid-60-30-10 {
    display: grid !important;
    grid-template-columns: calc(60% - 20px) calc(30% - 20px) calc(10% - 20px);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
  }
  .grid-50-25-25 {
    display: grid !important;
    grid-template-columns: calc(50% - 20px) calc(25% - 20px) calc(25% - 20px);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
  }

}