/* left-sidebar.css */

#container{max-width: 1200px;margin: auto}

#left {
  padding-top: 50px
}
#left + #main div.inside {
  width: 100% !important
}
@media (min-width: 800px) {
  #main div.inside, 
  #footer-custom div.inside { 
  }
  #left {
    display: inline-grid;
    width: calc(25% - 5px);
    vertical-align: top;
    border-right: 1px solid #eee;
  }
  #left + #main {
    display: inline-grid;
    width: 74%;
    vertical-align: top;
  }
}