/* li */

.listCheck ol, .listCheck ul {
  list-style-type: none;
  margin-left: 0 !important;
  font-size: 1.125rem
}
.listCheck li::before {
  content: "✔ ";
  color: $main-color;
  padding-right: 10px
}

/* BUTTONS */

.btn a, a.btn {
  background-color: $main-color;
  color: white;
  padding: 8px 16px;
  border-radius: 3px;
  margin-top: 10px;
  min-width: 120px;
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  transition-duration: .3s;
}
div.btn {
  display: inline-block
}
.btnWhite a, a.btnWhite {
  background-color: white;
  color: $main-color;
}
.btnGray a, a.btnGray {
  background-color: $lightgray-color;
  color: gray
}
.btnSecond a, a.btnSecond {
  background-color: $second-color;
  color: white;
}

/* COMMENTS */
.commentSection label {
  font-size: .8em;
  color: $darkergray;
  margin: 15px 0px 5px 0px;
  display: block;
}
input[type="checkbox"] {
  width: auto !important;
  float: left;
}
.checkbox_container label {
  margin: unset;
}
.checkbox_container {
  border: unset;
  padding: unset;
  margin: 15px 0px;
  width: 100%;
}
.commentName {
  font-weight: bold;
}
.commentTime {
  float: right;
}
.comment {
  margin-bottom: 15px;
}
.reply {
  padding: 25px;
  background-color: $lightgray-color;
}
.comment_default:not(.last) {
  margin: 25px 0px;
  border-bottom: 1px solid $lightgray-color;
}
.commentSection input, .commentSection textarea {
  width: 100%;
  padding: 10px;
  font-size: .9em
}

/**/

.verticalAlignCenter {
  display: grid;
  place-content: center
} 

.horizontalAlignCenter {
  margin: auto 0;
} 

/* CONTACT-BUTTONS */
.contactButton:hover {
  margin-bottom: 0px;
  transform: translateY(-10px);
  transition-duration: .3s;
  margin-top: 30px;
  background-color: $main-color;
  color: white;
  text-decoration: none !important;
}
.contactButton {
  background-color: rgba(100, 100, 100, .7);
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
  border-radius: 100px;
  font-size: 25px;
  color: white;
  margin-bottom: -10px;
  transition-duration: .3s;
}
.contactButtonWrapper {
  position: fixed;
  right: 20px;
  bottom: 110px;
  z-index: 10000
}

/* NEWS */

.newsRoundEdges {
  padding: 5px 5px 15px 5px;
}

.infoTime {
	text-align: right;
}

.newsContent {
	padding: 0px 10px;
}

.newsContent .newsHeadline a {
	color: $font-color;
	font-weight: bold;
}

.news1Col img {
	line-height: 0px;
	display: table;
	border-radius: 20px 0 0 20px;
}

/* NEWS READER */

.newsHeaderImage {
  height: $header-heightSmall;
  background-color: #eee;
}

.newsHeaderImage figure {
  height: 100%;
}

.newsHeaderImage img {
  height: 100%;
  object-fit: cover;
}

.back {
  max-width: $container-size;
  margin: auto;
}

/* ANIMATIONS */

.hoveranimation:hover {
  box-shadow: 3px 3px 10px rgba(100, 100, 100, .2);
  transform: translateY(-8px);
  transition-duration: .3s;
  opacity: .95
}
.hoveranimation {
  transition-duration: .3s
}

/* ACCORDION */

.ce_accordion {
    border: 1px solid #ddd;
    border-radius: $border-radius-xs;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.ui-accordion-header-active {
    border-bottom: 1px solid $lightgray-color;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.ui-accordion-header .ui-accordion-header-icon:after {
    content: '▸';
}

.ui-accordion-header-active .ui-accordion-header-icon:after {
    content: '▾';
}

/* <table> <tr> <td> */

table {
 	border-spacing: 0;
	width:100%;
}

tr:not(:last-child) td {
  border-bottom: 1px solid $lightgray-color;
}

td:not(:last-child)  {
  border-right: 1px solid $lightgray-color;
}

td {
	padding:5px 10px;
	vertical-align: top;
}

.tableTwoColumn td {
	width: 50%;
}

.tableThreeColumn td {
	width: calc(100% / 3);
}

.tableFourColumn td {
	width: 25%;
}

/* (IMAGE-)BORDER-RADIUS */
.imageBorderRadiusXS img {
  border-radius: $border-radius-xs;
}
.imageBorderRadiusS img {
  border-radius: $border-radius-s;
}
.imageBorderRadiusM img {
  border-radius: $border-radius-m;
}
.imageBorderRadiusL img {
  border-radius: $border-radius-l;
}
.imageBorderRadiusXL img {
  border-radius: $border-radius-xl;
}
.borderRadiusXS {
  border-radius: $border-radius-xs;
}
.borderRadiusS {
  border-radius: $border-radius-s;
}
.borderRadiusM {
  border-radius: $border-radius-m;
}
.borderRadiusL {
  border-radius: $border-radius-l;
}
.borderRadiusXL {
  border-radius: $border-radius-xl;
}

/* IMAGE COLOR */
.grayImg img:hover {
  filter: grayscale(0%) !important;
  transition-duration:.3s;
}
.grayImg img {
  filter: grayscale(100%);
  transition-duration:.3s;
}

/* BACKGROUND */
.bgWhite {
  background-color: white !important;
}
.bgLightgray {
  background-color: $lightgray-color !important;
}
.bgGray {
  background-color: #aaa !important;
}
.bgDarkgray {
  background-color: $darkergray !important;
}
.bgBlack {
  background-color: black !important;
}
.bgMain, .bgAccent {
  background-color: $main-color !important;
}
.bgSecond {
  background-color: $second-color !important;
}

/* Border Color */

.borderWhite {
  border: 1px solid white !important;
}
.borderLightgray {
  border: 1px solid $lightgray-color !important;
}
.borderGray {
  border: 1px solid #aaa !important
}
.borderDarkgray {
  border: 1px solid $darkergray !important;
}
.borderBlack {
  border: 1px solid black !important;
}
.borderMain {
  border: 1px solid $main-color !important;
}
.borderSecond {
  border: 1px solid $second-color !important;
}