html, body {
	font-family: $body-font-family;
	font-size: $body-font-size;
	margin: 0px;
	font-weight: 300;
	color: $font-color;
	hyphens:auto;
	-webkit-hyphens: auto;
}
h1, .h1 {
	margin-top: 0px;
	color: $h1-color;
	font-size:$h1-size;
	line-height: 1.25;
}

h2, .h2 {
	color: $h2-color;
	font-size: $h2-size;
}

h3, .h3 {
	color: $h3-color;
	font-size: $h3-size;
}

h4, .h4 {
	color: $h4-color;
	font-size: $h4-size;
}

h5, .h5 {
	color: $h5-color;
	font-size: $h5-size;
}

h6, .h6 {
	color: $h6-color;
	font-size: $h6-size;
}


p + p {
	margin-top: 10px
}

.lineThrough {
	text-decoration: line-through
} 

.textTwoColumn p, p.textTwoColumn {
	columns: 2;
	text-align: justify;
}
.textThreeColumn p, p.textThreeColumn {
	columns: 3;
	text-align: justify
}
.textFourColumn p, p.textFourColumn {
	columns: 4;
	text-align: justify
}

/* FONT COLOR */

.colorWhite *, .colorWhite, *.colorWhite {
	color: white !important;
}
.colorLightgray *, .colorLightgray, *.colorLightgray {
	color: $lightgray-color !important;
}
.colorGray *, .colorGray, *.colorGray {
	color: #aaa !important
}
.colorDarkgray *, .colorDarkgray, *.colorDarkgray {
	color: $darkergray !important;
}
.colorBlack *, .colorBlack, *.colorBlack {
	color: black !important;
}
.colorMain *, .colorMain, *.colorMain,
.colorAccent *, .colorAccent, *.colorAccent {
	color: $main-color !important;
}
.colorSecond *, .colorSecond, *.colorSecond {
	color: $second-color !important;
}

/* FONT SIZE */

.fontSizeS *, .fontSizeS {
	font-size: .8rem !important
}
.fontSizeM *, .fontSizeM {
	font-size: 1.5rem !important;
}
.fontSizeL *, .fontSizeL {
	font-size: 2rem !important;
}
.fontSizeXL *, .fontSizeXL {
	font-size: 2.5rem !important;
}
.fontSizeXXL *, .fontSizeXXL {
	font-size: 4rem !important;
}
.fontSizeXXXL *, .fontSizeXXXL {
	font-size: 6rem !important;
}

/* LINE HEIGHT */

.lineHeightXXS {
	line-height: .9em;
}
.lineHeightXS {
	line-height: 1em;
}
.lineHeightS {
	line-height: 1.1em;
}
.lineHeightL {
	line-height: 1.3em;
}
.lineHeightXL {
	line-height: 1.4em;
}
.lineHeightXXL {
	line-height: 1.5em;
}


/* HYPERLINKS */

a {
	text-decoration: none;
	color: $main-color;
	transition-duration: $transition-duration;
} 

a:hover {
	color: $second-color;
	transition-duration: $transition-duration;
}

/* TEXT ALIGN */
.textAlignCenter {
	text-align: center
}

.uppercase {
	text-transform: uppercase;
}