// GRID APPLIES FOR EVERY DISPLAY SIZE

.grid {
	display: grid !important;
	gap: $grid-gap;
	margin-bottom: $grid-gap;	
}

// PLACE THE GRID CONTENT

.gridPlaceContent_center > * {
	display: grid;
	align-content: center;
	justify-content: left;
}

.gridPlaceContent_end > * {
	display: grid;
	align-content: end;
	justify-content: left;
}

.grid2Col {
	grid-template-columns: repeat( 2, calc( 50% - ( #{$grid-gap} / 2 ) ) );
}
.grid3Col {
	grid-template-columns: repeat( 3, calc( 33% - ( #{$grid-gap} / 3 * 2 ) ) );
}
.grid4Col {
	grid-template-columns: repeat( 4, calc( 25% - ( #{$grid-gap} / 4 * 3 ) ) );
}
.grid5Col {
	grid-template-columns: repeat( 5, calc( 20% - ( #{$grid-gap} / 5 * 4 ) ) );
}
.grid6Col {
	grid-template-columns: repeat( 6, calc( 100% / 6 - ( #{$grid-gap} / 6 * 5 ) ) );
}
.grid-66-33 {
	grid-template-columns: calc( 100% / 3 * 2 - ( #{$grid-gap} / 2 ) ) calc( 100% / 3 - ( #{$grid-gap} / 2 ) );
}
.grid-33-66 {
	grid-template-columns: calc( 100% / 3 - ( #{$grid-gap} / 2 ) ) calc( 100% / 3 * 2 - ( #{$grid-gap} / 2 ) );
}

// GRID ONLY ON TABLE SIZE

@media ( min-width: $width-smartphone ) and ( max-width: $width-table) {
	
	.grid1ColTablet {
		grid-template-columns: 100%;
	}
	.grid2ColTablet {
		grid-template-columns: repeat( 2, calc( 50% - ( #{$grid-gap} / 2 ) ) );
	}
	.grid3ColTablet {
		grid-template-columns: repeat( 3, calc( 33% - ( #{$grid-gap} / 3 * 2 ) ) );
	}
	.grid4ColTablet {
		grid-template-columns: repeat( 4, calc( 25% - ( #{$grid-gap} / 4 * 3 ) ) );
	}
	.grid5ColTablet {
		grid-template-columns: repeat( 5, calc( 20% - ( #{$grid-gap} / 5 * 4 ) ) );
	}
	.grid6ColTablet {
		grid-template-columns: repeat( 6, calc( 100% / 6 - ( #{$grid-gap} / 6 * 5 ) ) );
	}
	.grid-66-33Tablet {
		grid-template-columns: calc( 100% / 3 * 2 - ( #{$grid-gap} / 2 ) ) calc( 100% / 3 - ( #{$grid-gap} / 2 ) );
	}
	.grid-33-66Tablet {
		grid-template-columns: calc( 100% / 3 - ( #{$grid-gap} / 2 ) ) calc( 100% / 3 * 2 - ( #{$grid-gap} / 2 ) );
	}
	
}

// GRID ONLY ON SMARTPHONE SIZE

@media (max-width: $width-smartphone ) {
	

	.grid1ColSmartphone {
		grid-template-columns: 100%;
	}
	.grid2ColSmartphone {
		grid-template-columns: repeat( 2, calc( 50% - ( #{$grid-gap} / 2 ) ) );
	}
	.grid3ColSmartphone {
		grid-template-columns: repeat( 3, calc( 33% - ( #{$grid-gap} / 3 * 2 ) ) );
	}
	.grid4ColSmartphone {
		grid-template-columns: repeat( 4, calc( 25% - ( #{$grid-gap} / 4 * 3 ) ) );
	}
	.grid5ColSmartphone {
		grid-template-columns: repeat( 5, calc( 20% - ( #{$grid-gap} / 5 * 4 ) ) );
	}
	.grid6ColSmartphone {
		grid-template-columns: repeat( 6, calc( 100% / 6 - ( #{$grid-gap} / 6 * 5 ) ) );
	}
	.grid-66-33-Smartphone {
		grid-template-columns: calc( 100% / 3 * 2 - ( #{$grid-gap} / 2 ) ) calc( 100% / 3 - ( #{$grid-gap} / 2 ) );
	}
	.grid-33-66-Smartphone {
		grid-template-columns: calc( 100% / 3 - ( #{$grid-gap} / 2 ) ) calc( 100% / 3 * 2 - ( #{$grid-gap} / 2 ) );
	}
  
}