/* HEADER */

.cc_header {
	position: relative;
	width: 100%;
	height: $header-height;
	overflow: hidden;
	display: grid;
	align-content: center;
}
.cc_headerSmall {
	height: $header-heightSmall;
}
.cc_header figure {
	position: absolute;
	width: 100%;
	height: 100%;
}
.cc_header figure:first-child img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.cc_header > :not(figure:first-child) {
	max-width: 1200px;
	margin: auto;
	width: 100%;
	position: relative;
}
.cc_header.cc_headerColored figure:first-child::before {
	content: '';
	background-color: $header-color;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	opacity: $header-opacity;
}

#header-custom .mod_article {
	padding: 0px
}
.logo-container {
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: auto auto
}
.logo-container a {
	display: inline-flex;
	width: fit-content;
}
#menu-custom {
	background-color: $menu-color;
	position: absolute;
	width: 100%;
	border-bottom: 1px solid $menu-bordercolor;
	box-shadow: 0px 0px 100px $menu-shadow;
	z-index: 10;
}
#menu-custom .inside {
	padding: 0px 50px;
}
#header-custom .cc_text-header {
	padding: 50px;
}
.logo-container img {
	height: 30px;
}

.logo-link {
	padding: 20px 0px;
}

/* FOOTER */

#footer-custom .inside {
	margin: auto;
	max-width: 1200px
}
