/* SIZE */

.maxWidthContainerSize {
	max-width: $container-size;
	margin: auto!important;
	margin-left: auto!important;
	margin-right: auto!important;
	padding: 50px 25px;
}

.maxWidth750 {
	max-width: 750px;
}
.maxWidth700 {
	max-width: 700px
}

/* IMAGES */

img {
	max-width: 100%;
	object-fit: contain;
	height: auto;
}

figure {
	margin: unset;
}

/* ARTICLE */

.mod_article:not(.fullWidth):not(.fullWidthContent) {
	padding: 50px 25px
}

#container .mod_article:not(.fullWidth):not(.fullWidthContent), .mod_navigation ul {
	max-width: $container-size;
	margin: auto
}

/* Other Settings */

* { 
	box-sizing: border-box;
}