/* MARGIN */
.mtXXL {
  margin-top: 150px !important;
}
.mbXXL {
  margin-bottom: 150px !important;
}
.mtXL {
  margin-top: 100px !important;
}
.mbXL {
  margin-bottom: 100px !important;
}
.mtL {
  margin-top: 60px !important;
}
.mbL {
  margin-bottom: 60px !important;
}
.mtM {
  margin-top: 40px !important;
}
.mbM {
  margin-bottom: 40px !important;
}
.mtS {
  margin-top: 20px !important;
}
.mbS {
  margin-bottom: 20px !important;
}
.mtXS {
  margin-top: 10px !important;
}
.mbXS {
  margin-bottom: 10px !important;
}
.mt0 {
  margin-top: 0px !important;
}
.mb0 {
  margin-bottom: 0px !important;
}
/* PADDING */
.ptXXL {
  padding-top: 150px !important;
}
.pbXXL {
  padding-bottom: 150px !important;
}
.ptXL {
  padding-top: 100px !important;
}
.pbXL {
  padding-bottom: 100px !important;
}
.ptL {
  padding-top: 60px !important;
}
.pbL {
  padding-bottom: 60px !important;
}
.ptM {
  padding-top: 40px !important;
}
.pbM {
  padding-bottom: 40px !important;
}
.pM {
  padding: 40px !important;
}
.ptS {
  padding-top: 20px !important;
}
.pbS {
  padding-bottom: 20px !important;
}
.ptXS {
  padding-top: 10px !important;
}
.pbXS {
  padding-bottom: 10px !important;
}
.pt0 {
  padding-top: 0px !important;
}
.pb0 {
  padding-bottom: 0px !important
}
.paddingUnset {
	padding: unset !important;
}