$grid-gap: 30px;
$container-size: 1200px;
$width-table: 1000px;
$width-smartphone: 800px;

$menu-color: #0008;
$menu-bordercolor: #0003;
$menu-shadow: #000;
$footer-color: #efefef;
$main-color: #30c5d5;
$second-color: #2cb5c3;
$lightgray-color: #eee;
$darkergray: #999;
$font-color: #111;
$menu-background: #fff;
$smartmenu-background: #333;
$smartmenu-trigger-brightness: 100%;
$header-height: 540px;
$header-heightSmall: calc(#{$header-height} * .65);
$header-color: $main-color;
$header-opacity: .3;
$border-radius-xs: 5px;
$border-radius-s: 10px;
$border-radius-m: 20px;
$border-radius-l: 30px;
$border-radius-xl: 100%;

