/* COLORS */

:root {
	--tlFirstColor: #6d81d1;
	--tlSecondColor: #94d9ba;
	--tlThirdColor: #d98c6f;
	--tlFourthColor: #f16634;
	--tlHLColor: #fff;
}

/* ENTRIES ON SMARTPHONE */

@media screen and (max-width: 799px) {

	.timelineBox {
		width: calc(100% - 40px);
		margin-left: 40px;
	}
	
	.timelineBoxHeadline::before {
		width: 40px;
		height: 1px;
		content: '';
		position: absolute;
		left: -40px;
		background-color: red;
		top: 15px;
	}

}

@media screen and (min-width: 800px) {

	.ce_rsce_timeline::after {
		left: 50%;
	}
	
	/* ODD ENTRIES */
	
	.timelineBox:nth-child(2n) {
		width: 40%;
		text-align: right;
	}

	.timelineBox:nth-child(2n)::before {
		content: '';
		height: 2px;
		width: 30%;
		position: absolute;
		right: -25%;
		top: 28px;
	}
	
	.timelineBox:nth-child(2n) .timelineBoxHeadline {
		margin-left: auto;
	}
	
	
	/* EVEN ENTRIES */
	
	.timelineBox:nth-child(2n+1) {
	 	width:40%;
		margin-left:60%;
	}
		
	.timelineBox:nth-child(2n+1)::before {
		content: '';
		height: 2px;
		width: 30%;
		position: absolute;
		left: -25%;
		top: 28px;
	}
	
}

.ce_rsce_timeline {
	position: relative;
}

.ce_rsce_timeline::after {
	content: '';
	position: absolute;
	border-right: 2px dotted gray;
	height: 100%;
	top: 0;
}

.timelineBox {
	padding-top: 15px;
	position: relative;
}

.timelineBoxHeadline {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	z-index: 1;
	position: relative;
	width: fit-content;
	color: var(--tlHLColor);
	padding: 5px 15px;
	border-radius: 10px;
}

/** 1nth ELEMENT **/

.timelineBox:nth-child(4n-2) .timelineBoxHeadline, 
.timelineBox:nth-child(4n-2) .timelineBoxHeadline::before, 
.timelineBox:nth-child(4n-2)::before {
	background-color: var(--tlFirstColor);
}

/** 2nth ELEMENT **/

.timelineBox:nth-child(4n-1) .timelineBoxHeadline,
.timelineBox:nth-child(4n-1) .timelineBoxHeadline::before,
.timelineBox:nth-child(4n-1)::before{
	background-color: var(--tlSecondColor);
}

/** 3nth ELEMENT **/

.timelineBox:nth-child(4n) .timelineBoxHeadline, 
.timelineBox:nth-child(4n) .timelineBoxHeadline::before, 
.timelineBox:nth-child(4n)::before {
	background-color: var(--tlThirdColor);
}

/** 4nth ELEMENT **/

.timelineBox:nth-child(4n+1) .timelineBoxHeadline, 
.timelineBox:nth-child(4n+1) .timelineBoxHeadline::before, 
.timelineBox:nth-child(4n+1)::before {
	background-color: var(--tlFourthColor);
}

