/* files/themore/assets/scss/system/menu.scss */

/* [start] desktop menu */

	.menu-list li {
		list-style-type: none;
		padding-bottom: 10px;
		font-size: 1.5rem;
	}
	
	.main-menu li, .main-menu li strong {
		font-weight: $menu-font-weight;
	}
	
	.main-menu li > .active {
		color: $menu-color-active
	}
	
	.mod_navigation .invisible {
		display: none;
	}
	
	@media (min-width:$width-smartphone) {
		.main-menu ul {
			list-style-type: none;
			text-align: right;
		}
		.main-menu li {
			display: inline-block;
			font-size: $nav-font-size;
			padding-top:20px;
			padding-bottom:20px;
		}
	
		.main-menu ul.level_2 {
			position: absolute;
			background-color: $header-background;
			padding: 20px;
			margin-top: 20px;
			max-width: 300px;
			border-bottom: 5px solid $main-color;
			opacity: 0;
			pointer-events: none;
			transition-duration: $transition-duration;
			box-shadow: 10px 0px 45px #0002;
			border-radius: 5px;
		}
		.main-menu li:hover ul.level_2 {
			opacity: 1;
			transition-duration: $transition-duration;
			pointer-events: unset;
		}
	
		
		@if $nav-separator != false {
			.main-menu li:not(.last)::after {
				content: $nav-separator;
				margin: 0 10px;
			}
		}
		@if $nav-separator == false {
			.main-menu li:not(.last) {
				padding-right: 10px;
				
			}
		}
		
		.main-menu ul.level_2 li {
			display: list-item !important;
			padding: 5px 0px;
			text-align: left;
		}
		.main-menu ul.level_2 li::after {
			content: none !important;
		}
		.main-menu li > a {
			text-decoration: none;
			color: $menu-color;
		}
		
		.main-menu li > a:hover {
			color: $menu-color-active
		}

		.main-menu ul.level_2 li:not(.last) {
			border-bottom: 1px solid rgba(100, 100, 100, .2);
			margin-bottom: 5px;
			padding-bottom: 9px;
		}
		.main-menu .level_2::before {
			content: '';
			display: block;
			position: absolute;
			border-right: 10px solid transparent;
			border-bottom: 10px solid $header-background;
			border-left: 10px solid transparent;
			top: -10px;
		}
		.level_2 strong {
			color: black;
		}
		.sub-menu a, .sub-menu strong, .sub-menu li::after {
			font-size: .8rem;
		}
		.sub-menu ul {
			text-align: center;
		}
		.sub-menu li {
			color: black;
		}
	
	}

/* [end] desktop menu */

/* [start] collapse menu */

	.collapseMenu a, .collapseMenu strong {
		padding: 10px 25px;
		display: block;
		transition-duration: $transition-duration;
	}
	
	.collapseMenu a  {
		color: $font-color;
	}
	
	.collapseMenu strong, .collapseMenu a:hover {
		color: $main-color;
	}
	
	.collapseMenu li > a:hover {
		background-color: #f4f4f4;
		transition-duration: $transition-duration;
	}
	
	.collapseMenu .level_2 {
		padding-left:20px;
		display:none;
	}
	
	.collapseMenu input[type="checkbox"]:checked + .level_2 {
		display: block;
	}
	
	.collapseMenu li.submenu {
		position:relative;
	}
	
	.collapseMenu li.submenu label {
		position: absolute;
		top: 10px;
		right: 15px;
		background-color: #eee;
		padding: 5px;
		border-radius: 3px;
		color: #444;
	}
	
	.collapseMenu label.rotate::before {
		rotate: 180deg;
	}
	
	.collapseMenu label::before {
		transition-duration: $transition-duration;
		display: block;
	}
	
	.collapseMenu .level_1 {
		padding-left:unset;
	}
	
	.collapseMenu ul:not(.level_1) {
	  padding-left: 20px;
	}

/* [end] collapse menu */

/* [start] smartphone menu */
	
	@media (max-width:$width-smartphone) {
		.main-menu, .menu-list {
			display: none;
		}
	} 
	
	.sm_hidden {
		visibility: hidden;
		position: absolute;
	}
	.sm_show {
		visibility: visible;
		width: 100vw;
		height: 100vh;
		background: #fffe;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
	}
	#smart_menu li {
		list-style-type: none;
		padding-bottom: 10px;
		font-size: 1.5rem;
	}
	
	#smart_menu {
		padding: 20px;
		position: fixed;
		z-index: 15;
		height: 100%;
		background-color: $mobile-menu-background-color;
		width: 100%;
		left: 0px;
		transition-duration:.4s;
		transition-timing-function: cubic-bezier(.39,.58,.57,1);
	}	
	
	#smart_menu.sm_hidden {
		left:-150%;
		transition-duration:.4s;
		transition-timing-function: cubic-bezier(.47,0,.74,.71);
	}
	
	
	#smart_menu .level_1 {
		overflow-y: scroll;
		max-height: calc(100vh - 190px);
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	#smart_menu li ul {
		margin-left: -15px;
		padding-top: 10px;
	}
	#smart_menu a {
		color:$mobile-menu-color;
	}
	#smart_menu strong {
		color:$mobile-menu-color-selected;
	}
	
	.mobile-menu label {
		color: white;
	}
	.sub-menu-side li {
		list-style-type: none;
	}
	.sub-menu-side ul {
		padding-left: unset;
	}
	@media (min-width:$width-smartphone) {
		.mobileBottom {
			display: none;
		}
	}
	
	.mobileBottom {
		background-color: $mobile-bottom-background;
		position: fixed;
		bottom: 0px;
		z-index: 20;
		width: 100%;
		left: 0;
		padding: 15px;
		text-align:center;
		box-shadow: 0 0px 10px #0004;
	}
	
	.iconSmartMenu {
		width: 25px;
		margin: auto;
		position: relative;
		transform: translateY(8px);
	}
		
	.iconSmartMenu::before, 
	.iconSmartMenu::after,
	.iconSmartMenu {
		background-color: black;	
		height: 3px;
		border-radius: 2px;
		display: block;
	}
		
	.iconSmartMenu::before, 
	.iconSmartMenu::after {
		content: '';
		width: 100%;
		position: absolute;
		top: -7px;
		transition-duration:.3s;
	}
	
	.iconSmartMenu::after {
		top: 7px;
	}
	
	.active .iconSmartMenu::after {
		top:0px;
		background-color:$main-color;
		transform:rotate(90deg);
	
	}
	
	.active .iconSmartMenu::before {
		top:0px;
		background-color:$main-color;
		transform:rotate(-90deg);
	}
	
	.active .iconSmartMenu {
		background-color:$main-color;
	}

/* [end] smartphone menu */

/* [start] header (menu-wrapper) */
	
	header {
		max-width: $container-size;
		margin: auto;
		padding: 0 25px;
	}
	
	@if $logo-nav-inline {
		header {
			display: grid;
			grid-template-columns: $logo-width auto;
			grid-column-gap:30px
		}	
		header nav {
			display: grid;
			align-content: center;
		}
	} 
	
	header .logo {
		width: $logo-width;
		padding: $logo-padding;
	}
	#menu-custom {
		background-color: $header-background;
		width: 100%;
		border-bottom: 1px solid $menu-bordercolor;
		box-shadow: 0px 0px 100px $menu-shadow;
		z-index: 10;
	}
	
	@if $header-overlapping {
		#menu-custom {
			position: absolute;
		}
	}
	@if $header-fixed-top {
		#menu-custom {
			position: fixed;
			top:0px;
		}
	}
	@if $header-fixed-bottom {
		#menu-custom {
			position: fixed;
			top:unset;
			bottom:0px;
		}
	}
	
	
	@if $header-fixed-top == true and $header-overlapping == false {
		#wrapper::before {
		  display: block;
		  content: '';
		}
	}
	
	header .logo {
		margin: auto;
		display: block;
	}
	
	@if $nav-centered {
		header nav ul.level_1 {
			text-align:center;
		}	
	}
	@if $nav-max-width != false {
		header nav ul.level_1 {
			max-width: $nav-max-width;
			margin-left: auto;
			margin-right: unset;
		}
		nav.main-menu .level_1 > li:not(.last) {
		  float: left;
		}
	}
	
	@if $nav-max-width == false {
		header nav.main-menu .level_1 > li.last {
		  margin-left: 20px;
		}
	}
	
	@if $nav-last-element-button {
		header nav ul.level_1 > li:nth-last-child(2)::after {
			display:none;
		}
		header nav.main-menu .level_1 > li.last > a, header nav.main-menu .level_1 > li.last > strong {
			color: white;
			text-decoration: none !important;
			background-color: $main-color;
			border-radius: 100px;
			padding: 10px 20px;
			font-weight: 200!important;
		}
	}
	
	header nav ul.level_1 {
		width: 100%;
		padding-left:unset;
	}

/* [end] header (menu-wrapper) */